* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(3, 0, 31);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.sideBar {
  flex: 3.5;
  border-right: 1px solid rgb(100, 100, 100);
}

.main {
  flex: 9;
}

.logo {
  margin-right: 1rem;
  height: 30px;
}

.brand {
  font-size: 2rem;
}

.upperSide {
  padding: 2.5rem;
  border-bottom: 1px solid rgb(100, 100, 100);
  height: 70%;
}

.listItemsImg {
  height: 30px;
  margin: 1rem;
  padding-right: 1rem;
}

.upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.query {
  display: flex;
  align-items: center;
  background: transparent;
  color: rgba(222, 222, 222, 1);
  padding: 1.5 rem;
  width: 40rem;
  height: 5rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgba(98, 98, 98, 1);
}

.query>img {
  margin-right: 2rem;
  margin-left: 2rem;
  object-fit: cover;
  height: 1.75rem;
}

.lowerSide {
  padding: 2rem;
}

.listItems {
  margin: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

  .container {
    position: absolute;
    top: 50%;
    left: 64%;
    max-height: 780px;
    overflow-y: scroll;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  table {
    width: 800px;
    height: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  th,
  td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  th {
    text-align: left;
  }
  thead th {
    background-color: #55608f;
  }
  tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  tbody td {
    position: relative;
  }
  tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  }