* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 71%;
}

body {
  background: rgb(51, 51, 51);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.sideBar {
  flex: 3.5;
  border-right: 1px solid rgb(100, 100, 100);
}

.main {
  flex: 9;
}

.logo {
  margin-right: 1rem;
  height: 30px;
}

.brand {
  font-size: 2rem;
}

.upperSide {

  border-bottom: 1px solid rgb(100, 100, 100);
  height: 60%;
}

.listItemsImg {
  height: 30px;
  margin: 1rem;
  padding-right: 1rem;
}

.upperSideTop {
  background-color: rgb(128, 128, 128);
  display: flex;
  align-items: center;
  height: 74px;
  padding-left: 2%;
}
.upperSideBottom {
  padding: 2rem;
}

.query {
  font-size: 11px !important;
  display: flex;
  align-items: center;
  padding: 10 rem !important;
  width: 40rem;
  height: 4rem;
  border-radius: 0.5rem;
  margin: 12px !important;
}

.textfield {
  width: 40rem !important;
  height: 4rem !important;
  padding-left: 5% !important;
}
.form {
  margin-left: 13px;
}

.ClearButton {
  margin-left: 230px !important;
}

.RunButton {
  margin-left: 7px !important;
}

.query>img {
  margin-right: 1rem;
  object-fit: cover;
  height: 1.75rem;
}

.lowerSide {
  padding: 2rem;
}

.listItems {
  margin: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
